.itemlist {
    font-family: 'Jost', Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 50px 50px 50px 50px;
    z-index: 0;
    margin-top: 200px;
}

h3 {
    margin: 5px 0 0 15px;
    color: #0F044C;  
    transition: color 0.5s ease; 
    text-decoration: none;
}

p {
    margin: 0 0 0 15px;
    font-size: 14px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #0F044C;
}

.container {
    display: flex;
    z-index: 0;
    justify-content: left;
    flex-wrap: wrap;
    gap: 30px; 
}

.itemcard {
    position: relative;
    background-color: #F3F4F6;
    width: 200px;
    height: 270px;
    border-radius: 30px;
    overflow: hidden; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); 
    transition: color 0.5s, box-shadow 0.3s ease, transform 0.3s ease; 
  
}

.itemcard:hover {
    color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15); 
    transform: scale(1.1); /* Scale up the card  hover */
}

.itemcard:hover h3 {
    color: #fff;
}

.itemcard::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 16px; 
    background-color: #0F044C; 
    border-radius: 10px 10px 0 0; 
    transition: height 0.5s ease; 
}

.itemcard:hover::before {
    height: 100%; 
    z-index: -1;
}

.card_img {
    width: 95%;
    height: 70%;
    margin: 20px auto 0 auto;
    transition: transform 0.3s ease; 
    z-index: 0;
}

.card_img:hover {
    transform: scale(1.5); 
}

.product_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

