body {
    font-family: 'Jost', Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
}

h3 {
    margin: 5px 0 0 15px;
    color: #0F044C;  
    transition: color 0.3s ease; /* Add transition effect for color change */
}

p {
    margin: 0 0 0 15px;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 30px; 
}

.itemcard {
    position: relative;
    background-color: #F3F4F6;
    width: 200px;
    height: 270px;
    border-radius: 30px;
    overflow: hidden; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition effects for box-shadow and transform */
  
}

.itemcard:hover {
    color: #fff;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5); /* Increase box-shadow on hover */
    transform: scale(1.1); /* Scale up the card on hover */
}

.itemcard::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0; /* Position the line at the top */
    left: 0; /* Align the line with the left edge */
    width: 100%; /* Make the line span the entire width of the item card */
    height: 16px; /* Set the height of the line */
    background-color: #0F044C; /* Set the color of the line */
    border-radius: 10px 10px 0 0; /* Add rounded corners to the top */
    transition: height 0.3s ease; /* Add transition effect for height change */
}

.itemcard:hover::before {
    height: 100%; 
    z-index: -1;
}

.card_img {
    width: 95%;
    height: 70%;
    margin: 20px auto 0 auto;
    transition: transform 0.3s ease; /* Add transition effect for transform */
    z-index: 0;
}

.card_img:hover {
    transform: scale(1.15); /* Scale up the image on hover */
}

.product_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
